*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.checked {
    color: orange;
  }

.bottom{
    height: 20rem;
    width: 100%;
    background-color: black;
    color: white;
}

$font-color:#000000;
.nav-bar{
    font: normal normal 600 19px/26px Segoe UI;
    letter-spacing: 0px;
    color: $font-color;
    opacity: 1;
    font-weight: bold;
    display: flex;
    margin: auto;
    li{
        align-items: center;
        justify-content: center;
        margin: 0rem 1rem;
    }
}
button{
    height: 4rem;
    width: 15rem;
}
.first{
    .heading{
        font: normal normal 900 40px/54px Nunito Sans;
        color: $font-color;
        opacity: 1;
        margin-top: 3rem;
    }
    p{
        font: normal normal normal 18px/24px Nunito Sans;
        letter-spacing: 0px;
        color: $font-color;
        opacity: 1;
    }
    
    img{
        height: 70%;
        width: 100%;
    }
}
.second{
    color: $font-color;
    h1{
        font-weight: bold;
        font: normal normal bold 35px/47px Nunito Sans;
        margin-bottom: 5rem;
    }
    div{
        background-color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 2rem;
    }
}
.third{
    margin: 8rem;
    h2{
        margin-bottom: 8rem;
    }
    // .third-img{
    //     height: 11.5rem;
    // }
    
    p{
        font: normal normal normal 18px/24px Nunito Sans;
        color: $font-color;
    }
}
@media (min-width:1000px) {
    .third-img{
        height: 11.5rem;
    }
}
.forth{
    h2{
        margin-bottom: 4rem;
        font: normal normal bold 35px/47px Nunito Sans;
        color: $font-color;
    }
}
.fifth{
    font: normal normal normal 13px/18px Nunito Sans;
}
.sixth{
    .third-img{
        height: 6rem;
        width: 5rem;
    }
    .first-img{
        height: 6rem;
    }
    p{
        font-size: 1.2rem;
        font-weight: bold;
    }
}
.seventh{
    margin-top: 10rem;
}

.hover-div{
    height: 20rem;
    background-color: #F8FAFC;
    position: relative;
    top: 10rem;
    z-index: -1;
    border: 2px solid #ECECEC;
    border-radius: 2rem;
}
.upper-div{
    background-color: #FFFFFF;
    border: 2px solid #E1E1E1;
    border-radius: 2rem;
    margin-bottom: 7rem;
}